extends layout

block content
    button.btn( class="btn-success ml-1", onclick= `dispatch(\"/Bank/create\")`) Create
    h1=title
    -
     //let results = [{"Bank_Name": "Indian Bank", "Bank_Branch": "Amaravati", "Bank_Code": "086450",},{ "Bank_Name": "Us Bank", "Bank_Branch": "Maryville", "Bank_Code": "12345",}, {"Bank_Name": "Andhra Bank", "Bank_Branch": "Tadikonda", "Bank_Code": "256794",}]
     let items=results
    div(class="container-fluid")
        div(class="row m-1")
            each item in items
                - let destination = `dispatch(\"/Bank/update?id=${item._id}\")`
                - let destination1 = `dispatch(\"/Bank/detail?id=${item._id}\")`
                - let destination2 = `dispatch(\"/Bank/delete?id=${item._id}\")`
                div(class="row-sm-2", class="m-1") Item #{item.Bank_Name}(#{item.Bank_Branch}) is #{item.Bank_Code}
                    div(class="col-sm-2")
                        button.btn( class="btn-success ml-1", onclick= destination) Update
                    div(class="col-sm-2")
                        button.btn( class="btn-warning ml-1", onclick= destination1) Details
                    div(class="col-sm-2")
                        button.btn( class="btn-primary ml-1", onclick= destination2) Delete
    script.
        function dispatch(path){
            window.location.href=path
        }