extends layout
block content
    h1= title
    if (toShow == null)
     h2 No instance to delete
    else
     - let bankid = toShow._id
     - let Bank_Name = toShow.Bank_Name
     - let Bank_Branch = toShow.Bank_Branch
     - let Bank_Code = toShow.Bank_Code
     - let actionid = "/resource/Bank/" + bankid
     script let actionid = "#{actionid}"
     div
        div.row
            div(class='BankAttr mr-3') Bank ID is:
            div #{bankid}
        div.row
            div(class='BankAttr mr-3') Bank Name is:
            div #{Bank_Name}
        div.row
            div(class='BankAttr mr-3') Bank Branch is:
            div #{Bank_Branch}
        div.row
            div(class='BankAttr mr-3') Bank Code is:
            div #{Bank_Code}
     button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
     button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
     script.
        function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/Bank'
        }
    script.
        function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
        method: 'DELETE' 
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Delete succeded")
        window.location.href='/Bank'
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
        });
      }